In [1]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline

In [ ]:
df = pd.read_excel('C:/Users/Suraj Soni/Desktop/Diwali Sales Data.xlsx')

In [ ]:
df.shape

In [ ]:
df.head(3)

In [ ]:
df.tail(3)

In [ ]:
df.info()

In [ ]:
#dropping blank coloumns 
df.drop(['Status','unnamed1'],axis=1, inplace = True)

In [ ]:
#checking for null value 
pd.isnull(df)

In [ ]:
pd.isnull(df).sum()

In [ ]:
#droping null
df.dropna(inplace=True)

In [ ]:
df.shape         #12 null values droped

In [ ]:
#changing the data type of Amount to Int
df['Amount'] = df['Amount'].astype('int')

In [ ]:
df['Amount'].dtype

In [ ]:
df.columns

In [ ]:
df.describe()

In [ ]:
#applying discribe function on selected coloumns.
df[['Age','Orders','Amount']].describe()

# EDA

### Gender

In [ ]:
df.columns

In [ ]:
ax = sns.countplot(x='Gender',data = df)
for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
df.groupby(['Gender'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)

In [ ]:
sales = df.groupby(['Gender'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)

sns.barplot(x='Gender',y='Amount',data=sales)

ax = sns.barplot(x='Gender', y='Amount', data=sales)

# Add labels to the bars
for container in ax.containers:
    ax.bar_label(container, fmt='%.2f')

Females have high orders

# Age

In [ ]:
df.columns

In [ ]:
ax = sns.countplot(x='Age Group',data = df,hue='Gender')
for container in ax.containers:
    ax.bar_label(container)

In [ ]:
sales_age = df.groupby(['Age Group'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)

sns.barplot(x='Age Group',y='Amount',data=sales_age)

Most of the buyer are of are group from 26 to 35

In [ ]:
df.columns

In [ ]:
#total number of order from top 
sales_state = df.groupby(['State'], as_index=False)['Orders'].sum().sort_values(by='Orders', ascending=False).head(10)
sns.set(rc={'figure.figsize':(20,5)})

sns.barplot(x='State',y='Orders',data=sales_state)

from the above analysis we can find that UP, Maharastra and Karnataka are the top 3 state in terms of highest orders.

In [ ]:
#total amount/sales from top 10 state
sales_state = df.groupby(['State'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False).head(10)
sns.set(rc={'figure.figsize':(20,5)})

sns.barplot(x='State',y='Amount',data=sales_state)

from the above analysis we can find that UP, Maharastra and Karnataka are the top 3 state in maximum revenue.

## Merital Status

In [ ]:
ax = sns.countplot(x='Marital_Status',data=df)

for container in ax.containers:
    ax.bar_label(container)

In [ ]:
sales_state = df.groupby(['Marital_Status','Gender'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)
sns.set(rc={'figure.figsize':(10,5)})

sns.barplot(x='Marital_Status',y='Amount',data=sales_state,hue = 'Gender')

## Occupation

In [ ]:
ax = sns.countplot(x='Occupation',data=df)
sns.set(rc={'figure.figsize':(30,5)})
for container in ax.containers:
    ax.bar_label(container)

In [ ]:
sales_state = df.groupby(['Occupation'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)
sns.set(rc={'figure.figsize':(30,5)})

sns.barplot(x='Occupation',y='Amount',data=sales_state)

In [ ]:
df.columns

## Product_Category

In [ ]:
ax = sns.countplot(x='Product_Category',data=df)

sns.set(rc={'figure.figsize':(25,5)})
for container in ax.containers:
    ax.bar_label(container)

Total Number of order received from clothing, food and electronics.

In [ ]:
sales_state = df.groupby(['Product_Category'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)
sns.set(rc={'figure.figsize':(30,5)})

sns.barplot(x='Product_Category',y='Amount',data=sales_state)

Food has the highest revenew followed by clothing and electronics.

## Product ID

In [ ]:
sales_state = df.groupby(['Product_ID'], as_index=False)['Orders'].sum().sort_values(by='Orders', ascending=False).head(10)
sns.set(rc={'figure.figsize':(20,5)})

sns.barplot(x='Product_ID',y='Orders',data=sales_state)